# Base ML method

## Get data

In [1]:
import pandas as pd
import sklearn as sk
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder,LabelEncoder,OrdinalEncoder
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
import time
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.metrics import classification_report,roc_curve, auc,precision_recall_curve,f1_score,balanced_accuracy_score

In [2]:
import zipfile
path_to_zip_file='/content/drive/My Drive/Data/home-credit-default-risk.zip'
with zipfile.ZipFile(path_to_zip_file, 'r') as zip_ref:
    zip_ref.extractall()

FileNotFoundError: [Errno 2] No such file or directory: '/content/drive/My Drive/Data/home-credit-default-risk.zip'

In [ ]:
# Training data
app_train = pd.read_csv('/content/application_train.csv')
print('Training data shape: ', app_train.shape)
app_train.head()

Training data shape:  (307511, 122)

   SK_ID_CURR  TARGET  ... AMT_REQ_CREDIT_BUREAU_QRT AMT_REQ_CREDIT_BUREAU_YEAR
0      100002       1  ...                       0.0                        1.0
1      100003       0  ...                       0.0                        0.0
2      100004       0  ...                       0.0                        0.0
3      100006       0  ...                       NaN                        NaN
4      100007       0  ...                       0.0                        0.0

[5 rows x 122 columns]

In [ ]:
app_train.dtypes

SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
                               ...
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 122, dtype: object

## Feature engineer

In [ ]:
print(app_train['TARGET'].value_counts())
print(app_train['TARGET'].value_counts(normalize=True))

0    282686
1     24825
Name: TARGET, dtype: int64
0    0.919271
1    0.080729
Name: TARGET, dtype: float64

In [ ]:
dataX = app_train.drop(['TARGET'],axis=1)
dataY = app_train['TARGET']

X_train, X_test, y_train, y_test = \
    train_test_split(dataX, dataY, test_size=0.20, \
                    random_state=2018, stratify=dataY)

In [ ]:
X_train.head()

        SK_ID_CURR  ... AMT_REQ_CREDIT_BUREAU_YEAR
81406       194391  ...                        4.0
168321      295110  ...                        3.0
258740      399428  ...                        1.0
271521      414775  ...                        1.0
82811       196046  ...                        3.0

[5 rows x 121 columns]

## Label encoder (Error)

Label encoder object

In [ ]:
categorical_features = X_train.select_dtypes(include=['object']).columns
for feature in categorical_features:
    #train[feature]=pd.Categorical(train[feature])
    X_train[feature]=str(X_train[feature].values)
    le=LabelEncoder()
    le.fit(X_train[feature])
    X_train[feature]=le.transform(X_train[feature])
    X_test[feature] =le.transform(X_test[feature])

Problem: different string/category in train and test set so cannot apply label encoder from train to test

Label encoder numeric (for all numeric column <=7 unique value)

In [ ]:
numeric_features_special = X_train.select_dtypes(exclude=['object']).columns
for feature in numeric_features_special:
    if len(list(X_train[feature].unique())) <= 7:
        #train[feature]=pd.Categorical(train[feature])
        X_train[feature]=str(X_train[feature].values)
        X_train[feature]=LabelEncoder().fit_transform(X_train[feature])
        X_test[feature]=LabelEncoder().transform(X_test[feature])

In [ ]:
X_train

In [ ]:
start=time.time()
lgbm_2=LGBMClassifier()

lgbm_2.fit(X_train, y_train)
end=time.time() 
print("time: ",end-start) # 9s vs 33 s H2o light gbm

In [ ]:
lgbm_2

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [ ]:
y_pred=lgbm_2.predict(X_test)
y_pred_probs=lgbm_2.predict_proba(X_test)
print(sk.metrics.confusion_matrix(y_pred,y_test))
print("f1 score",f1_score(y_test,y_pred))
print("balanced_accuracy_score:",balanced_accuracy_score(y_test,y_pred))
fpr, tpr, thresholds = roc_curve(y_test.values, y_pred_probs[:,1])
print("AUC:",auc(fpr, tpr))
print('classification_report \n',classification_report(y_test, y_pred))

[[56476  4882]
 [   62    83]]
f1 score 0.0324853228962818
balanced_accuracy_score: 0.5078102057712915
AUC: 0.7541847657861281
classification_report
               precision    recall  f1-score   support

           0       0.92      1.00      0.96     56538
           1       0.57      0.02      0.03      4965

    accuracy                           0.92     61503
   macro avg       0.75      0.51      0.50     61503
weighted avg       0.89      0.92      0.88     61503

### Pipeline

In [ ]:
categorical_features = X_train.select_dtypes(include=['object']).columns
numeric_features = X_train.select_dtypes(include=['int64', 'float64']).columns

In [ ]:
impute = sk.impute.SimpleImputer()
label_transformer = LabelEncoder()
ordinal_transformer= OrdinalEncoder()
onehot_transformer= OneHotEncoder()

In [ ]:
transformers=[
    ('impute', impute, X_train.columns),         
    ('ordinal_1', ordinal_transformer, categorical_features),
    ('ordinal_2', ordinal_transformer, numeric_features),
    ('onehot', onehot_transformer, categorical_features)
    ]
preprocessor = ColumnTransformer(transformers)

In [ ]:
# Create transform X value
X_train_tran = preprocessor.fit_transform(X_train)
X_test_tran=preprocessor.transform(X_test)

## Category convert (like factor R)

In [ ]:
categorical_features = X_train.select_dtypes(include=['object']).columns
for feature in categorical_features:
    #train[feature]=pd.Categorical(train[feature])
    X_train[feature]=X_train[feature].astype("category")
    X_test[feature]=X_test[feature].astype("category")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
numeric_features_special = X_train.select_dtypes(exclude=['object']).columns
for feature in numeric_features_special:
    if len(list(X_train[feature].unique())) <= 7:
        #train[feature]=pd.Categorical(train[feature])
        X_train[feature]=X_train[feature].astype("category")
        X_test[feature]=X_test[feature].astype("category")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
start=time.time()
lgbm_2=LGBMClassifier()

lgbm_2.fit(X_train, y_train)
end=time.time() 
print("time: ",end-start) # 9s vs 33 s H2o light gbm

time:  16.821610689163208

In [ ]:
y_pred=lgbm_2.predict(X_test)
y_pred_probs=lgbm_2.predict_proba(X_test)
print(sk.metrics.confusion_matrix(y_pred,y_test))
print("f1 score",f1_score(y_test,y_pred))
print("balanced_accuracy_score:",balanced_accuracy_score(y_test,y_pred))
fpr, tpr, thresholds = roc_curve(y_test.values, y_pred_probs[:,1])
print("AUC:",auc(fpr, tpr))
print('classification_report \n',classification_report(y_test, y_pred))

[[56476  4882]
 [   62    83]]
f1 score 0.0324853228962818
balanced_accuracy_score: 0.5078102057712915
AUC: 0.7541847657861281
classification_report
               precision    recall  f1-score   support

           0       0.92      1.00      0.96     56538
           1       0.57      0.02      0.03      4965

    accuracy                           0.92     61503
   macro avg       0.75      0.51      0.50     61503
weighted avg       0.89      0.92      0.88     61503

In [ ]:
lgbm_2.plot_importance

AttributeError: ignored